<a href="https://colab.research.google.com/github/WeiyangBellaBao/my-first-project/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/soltaniehha/Intro-to-Data-Analytics/master/data/AnalyticsEdge-Datasets/Framingham.csv')
df.head()

   male  age  education  currentSmoker  ...    BMI  heartRate  glucose  TenYearCHD
0     1   39        4.0              0  ...  26.97       80.0     77.0           0
1     0   46        2.0              0  ...  28.73       95.0     76.0           0
2     1   48        1.0              1  ...  25.34       75.0     70.0           0
3     0   61        3.0              1  ...  28.58       65.0    103.0           1
4     0   46        3.0              1  ...  23.10       85.0     85.0           0

[5 rows x 16 columns]

# Preprocessing

In [30]:
count=0
for i in df.isnull().sum(axis=1):
    if i>0:
        count=count+1
print('No. of rows with missing values:', count)
df = df.dropna(how='any',axis=0)
df.isnull().sum()

No. of rows with missing values: 582

male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [31]:
#No categorical variables for prepocessing

# Feature Matrix & Target Vector

In [32]:
x = df.drop('TenYearCHD', axis=1)
x.shape

(3658, 15)

In [33]:
y = df['TenYearCHD']
y.shape

(3658,)

# Split the Data

In [34]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=780)

# Instantiate & Fit a Logistic Regression Model

In [35]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver = 'liblinear')
model.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

# Make Predictions & Find the Accuracy, Sensitivity and Specificity

In [36]:
y_model = model.predict(x_test)
test = x_test.join(y_test).reset_index()
test.join(pd.Series(y_model, name='predicted')).head()

   index  male  age  education  ...  heartRate  glucose  TenYearCHD  predicted
0    663     0   59        2.0  ...       72.0     75.0           1          0
1   2487     0   42        2.0  ...       90.0     97.0           0          0
2   3378     1   38        1.0  ...       86.0     78.0           0          0
3   1198     0   36        4.0  ...       67.0     75.0           0          0
4   3328     1   48        3.0  ...       75.0     77.0           0          0

[5 rows x 18 columns]

In [37]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_model)

0.8615664845173042

In [38]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_model)
tn = cm[0, 0]
tp = cm[1, 1]
fn = cm[1, 0]
fp = cm[0, 1]

sensitivity = tp / (tp + fn)
specificity = tn / (tn + fp)
print('Sensitivity : ', sensitivity)
print('Specificity : ', specificity)

Sensitivity :  0.07051282051282051
Specificity :  0.9925690021231423